#grad1 {
  height: 1000px;
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(white,#0079C1);
  
}

.nav-item {
    font-weight: 600;
    font-size: large;
}

.nav-item2 #login {
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.nav-item2 #login:hover {
    border: 1.5px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .35rem;
}

.nav-item2 #signup {
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.nav-item2 #signup:hover {
    border: 1.5px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .35rem;
}

.nav-item2 .nav-link:hover {
    font-weight: 600;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .3rem;
}