body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
h1{
    width: fit-content;
    padding: 12px 10px;
    border: 1px solid lime;
    color: white;
    background-color: green;
    box-shadow: 0px 2px 30px black;
}